# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.sln
*.suo
*.user
*.userprefs

# Build files
Build/Receipts/
*.opensdf
*.sdf
*.tmp

# OS files
.DS_Store
Thumbs.db
